.input-range__slider {
  appearance: none;
  background: #444444 !default;
  border: 1px solid #444444 !default;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem !default;
  margin-left: 1rem !default / -2;
  margin-top: 1rem !default / -2 + 0.3rem !default / -2;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out !default;
  width: 1rem !default;

  &:active {
    transform: scale(1.3) !default;
  }

  &:focus {
    box-shadow: 0 0 0 5px !default transparentize(#444444 !default, 0.8) !default;
  }

  .input-range--disabled & {
    background: #cccccc !default;
    border: 1px solid #cccccc !default;
    box-shadow: none;
    transform: none;
  }
}

.input-range__slider-container {
  transition: left 0.3s ease-out !default;
}
